.formScreen{
    height: 100vh;
}
.formdiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 3rem;
    gap: 3rem
}

.formDashboard{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding: 2rem 3rem;
}
.formDetailPage{
    border: 1px solid;
    padding: 1rem;

}

.formDetailPage_link {
    color: black;
    font-weight: 700;
    text-decoration: none;
}

.formDetailPage_buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5rem;
}